@page
@model WebApp___SistemaProveeduria.Pages.MembershipsModel
@{
}

<script src="~/js/membershipsview.js"></script>
<script src="https://www.paypal.com/sdk/js?client-id=AYJvnFeSBXXaRs-1cuxSp-0o-K0RBQCLE_iLikA54_tNGTtoF7YW6l5ki5E6hOtrFlHOELbtvhlQITTJ&currency=USD"></script>


<div>
    <h1 class="mt-5" id="membershipTitle">Membresías</h1>
    <br></br>
    <h2 id="nombreMembresiaActiva" disabled></h2>
    <h3 id="precioMembresiaActiva" disabled></h3>
    <h5 id="fechaSuscripcionMembresiaActiva" disabled></h5>
    <h5 id="paypalMembresiaActiva" disabled></h5>
    <br></br>
</div>


<div id="viewMemberships"></div>

<br></br>

<div id="selectedMembership">
    <h2>Membresía seleccionada: </h2>
    <h3 id="selectedName"></h3>
    <h5 id="selectedPrice"></h5>
</div>

<br></br>
<div id="paypal-button-container">
    
</div>