@page
@model WebApp___SistemaProveeduria.Pages.MyBillsCreatedModel
@{
}

<script src="~/js/createdbillsview.js"></script>

<h1 class="mt-5">Facturas creadas</h1>
<a href="/PersonalBills" class="btn btn-primary bg-primario boton mt-2">Volver</a>
<div id="viewCreatedBills"></div>
