@page
@model WebApp___SistemaProveeduria.Pages.PersonalBillsModel
@{
}

<h1 class="mt-5">Mis facturas</h1>

<a href="/Profile" class="btn btn-primary bg-primario boton mt-2">Volver</a>

<div class="container mt-5" id="tendersCard">
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-6">
                <div class="card mb-3">
                    <div class="card-body">
                        <h2 class="card-title mt-3">Facturas asignadas</h2>
                        <p class="card-text mt-2">Acá podrás ver las facturas asginadas a ti.</p>
                        <a href="/MyAssignBills" class="btn btn-primary bg-primario boton mt-2">Ver facturas</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card mb-3">
                    <div class="card-body">
                        <h2 class="card-title mt-3">Facturas creadas</h2>
                        <p class="card-text mt-2">Acá podrás ver las facturas creadas por ti.</p>
                        <a href="/MyBillsCreated" class="btn btn-primary bg-primario boton mt-2">Ver facturas</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
