@page
@model WebApp___SistemaProveeduria.Pages.PersonalOfferDetailsModel
@{
}

<script src="~/js/offerdetailsview.js"></script>

<h1 class="mt-5">Detalle de la oferta</h1>

<div>
    <div>
        <a href="https://localhost:7071/PersonalOffers" class="btn btn-primary bg-primario boton">Volver</a>
    </div>
    
    <div id="offerDetails" class="mt-5"></div>
</div>