@page
@model WebApp___SistemaProveeduria.Pages.TenderDetailsModel
@{
}

<script src="~/js/tenderdetails.js"></script>

<h1 class="mt-5">Detalles de la licitación</h1>

<div>
    <div>
        <button id="btnGenerateOffer" class="btn btn-primary bg-primario boton" type="button" tabindex="8">Ofertar</button>
    </div>
    <div id="viewTenderDetails"></div>
</div>